*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
input{
    outline: none;
}
.container{
    max-width: 700px;
    padding: 20px;
    margin:0 auto;
}

h1{
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}


.select-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
select{
    font-size: 25px;
    padding: 20px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px solid #0a7500;
    outline: none;
}
option{
    text-align: center;
}


#taqvim{
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border-collapse: collapse;
}
.row{
    padding: 10px;
    &:nth-child(odd){
        background-color: #0a7500;
    }
    &:nth-child(even){
        background-color: #0f9602;
    }
}
td{
    padding: 10px;
    color: #fff;
    border-right: 1px solid #fff;
    border-right-color: rgba($color: #fff, $alpha: 0.3);
    text-align: center;
    text-transform: capitalize;
}
.time-string{
    border-bottom: 1px solid #fff;
    border-bottom-color: rgba($color: #fff, $alpha: 0.3);
}